@import "tailwindcss";

@theme inline {
  --breakpoint-xs: 27rem;

  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-yellow: #f8ff66;
  --color-purple: #7c48cc;
  --color-purple-light: #d5b5ff;

  --font-raleway: var(--font-raleway), sans-serif;
  --font-azbuka: var(--font-azbuka), sans-serif;
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
