@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredstrategy: "pseudoelements";
}

@theme inline {
    --breakpoint-xs: 27rem;

    --color-white: #ffffff;
    --color-gray: #f2f2f2;
    --color-gray-dark: #5a5a5a;
    --color-black: #1e1e1e;
    --color-yellow-light: #fcffc1;
    --color-yellow-gradient-end: #f9ff8a;
    --color-yellow: #f8ff66;
    --color-yellow-detail: #ecf26f;
    --color-yellow-gradient-start: #f6ff3a;
    --color-purple-ultra-light: #ece4f9;
    --color-purple-light: #d5b5ff;
    --color-purple-blob: #8852de;
    --color-purple: #7c48cc;
    --color-purple-dark: #7b48cc;

    --color-green: #00ff00;
    --color-blue: #0000ff;
    --color-red: #ff0000;

    --font-raleway: var(--font-raleway), sans-serif;
    --font-azbuka: var(--font-azbuka), sans-serif;
}

@layer base {
    :root:has(.no-doc-scroll) {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    body {
        background: var(--color-white);
        color: var(--color-black);
        font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        display: block;
        max-width: 100%;
    }

    ul {
        list-style: none;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    .footer-block-rotate {
        transform: rotate(-90deg) translateX(100%);
        @apply origin-bottom-right;
        @media (min-width: 1024px) {
            transform: none;
            transform-origin: initial;
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .rotation {
        animation: rotation 1600ms linear infinite;
    }
}
